body{
    margin: 0px;
    background-color: black;
}
.logo
{
    block-size: auto;
    text-align: center;
    color: white;
    background-color: black;
    height: 40px;
    margin: 0px
}
.Limited-time
{
    font-size:medium;
    block-size: auto;
    text-align: center;
    color: white;
    background-color: red;
    height: auto;
    margin: 0px
}
nav
{
    float: none;
    background-color: rgb(58, 58, 58);
    height:50px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.nav-links
{   
    font-size:x-large;
    list-style: none;
}
.nav-links li 
{
    display: inline;
    margin: 0 10px;
}
.nav-links a 
{
    color: #fff;
    text-decoration: none;
}
.Featuring
{
    background-color: rgb(179, 11, 11);
    font-size: xx-large;
    display:flex;
    justify-content: center ;   
}
.carousel {
    position: relative;
    width: 800px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(300px * 2); /* Width of all images combined */
  }
  
  .featuring-design {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .featuring-photos {
    width: 800px;
    height: auto;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    display: flex;
    align-items: center;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  .carousel-para
  {
    margin:0px;
    font-size: x-large;
    color: white;
    background-color: black;
  }
  .cta-button {
    display: flex;
    justify-content: center;
    background:green;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
  }
  